html,
body {
  margin: 0;
  padding: 5;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#map {
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

#map svg {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
circle {
  pointer-events: auto;

  --color-departures: steelblue;
  --color-arrivals: hotpink;

  --color: color-mix(
    in srgb,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
  );

  fill: var(--color);
}

header {
  display: flex;
  gap: 1em;
  align-items: baseline;
  margin-bottom: 1em;
}

label {
  margin-left: auto;
}

em {
  color: #666;
  font-style: italic;
}
.legend {
  display: flex;
  justify-content: center;
  gap: 2em;
  margin-block: 1em;
  font-size: 14px;
  font-family: sans-serif;
}

.legend > div {
  display: flex;
  align-items: center;
  gap: 0.5em;
  color: #333;
}
.swatch {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;

  --color-departures: steelblue;
  --color-arrivals: hotpink;
  --color: color-mix(in srgb, var(--color-departures) calc(100% * var(--departure-ratio)), var(--color-arrivals));
  background: var(--color);
}
